# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Logs
logs
*.log
*.csv
*.dat
*.out
*.pid
*.seed
*.tgz

# Build output
dist/
build/
.next/
out/
coverage/

# Misc
.env
.env.*
*.local
.cache/
.eslintcache
.vscode/
tmp/
tmp/**
*.swp
*.swo
